    /**POPUP DI PRENOTAZIONE APERTO TRAMITE CLICK : #heroPrenota **/
/* ============================
   POPUP WRAPPER
============================ */
.booking-popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none; /* nascosto di default */
}

/* popup visibile */
.booking-popup.active {
  display: block;
}

/* ============================
   OVERLAY SCURO
============================ */
.booking-popup-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

/* ============================
   CONTENUTO POPUP
============================ */
.booking-popup-content {
  position: relative;
  max-width: 1100px;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: #ffffff;
  overflow-y: auto;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);;
}

/* ============================
   BOTTONE CHIUSURA
============================ */
.booking-popup-close {
  position: absolute;
  top: 8px;
  right: 0px;
  background: none;
  border: none;
  font-size: 22px;
  z-index: 9999;;
  box-shadow: var(--shadow);
  background-color: var(--primary);
  border-radius: 50% 0 0 50%;
  cursor: pointer;
  padding: 8px 12px;
  color: var(--accent);
}

.booking-popup-close:hover {
  color: #000;
}

/* ============================
   BLOCCO SCROLL BODY
============================ */
body.no-scroll {
  overflow: hidden;
}
